body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background: linear-gradient(180deg, #0a192f 53%, #172a45 100%);
    height: 100vh;
    display: flex;
    font-family: 'Questrial';
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .how-it-works-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 75vw;
  }
  
  .how-it-works-title {
    font-size: 2rem; /* Adjust size as needed */
    margin-bottom: 1rem;
  }
  
  .how-it-works-grid-container {
    margin-top: 1rem;
  }
  
  .how-it-works-description-box {
    border-radius: 5px;
    padding: 1.5rem;
    text-align: center;
    background-color: transparent;
    color: #fff; /* Adjust color as needed */
  }
  

  @media (max-width: 768px) {
    .how-it-works-container {
      height: auto;
      width: auto;
      padding-bottom: 2rem;
      text-align: center;
    }
  
    .how-it-works-grid {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 0.5rem;
      gap: 1.5rem;
      padding-left :10px 
  }
  }