body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.login-page {
    background: linear-gradient(0deg, #4D3674 0%, #312841 53%, #18151D 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.login-card h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-size: 1rem;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 1rem;
}

.input-group input::placeholder {
    color: #d3d3d3;
}

/* Password Wrapper with Icon */
.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding: 10px;
    padding-right: 9px; /* Leave space for the icon */
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 1rem;
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fbfbfd;
    font-size: 1.2rem;
}

button {
    background-color: #6A5ACD;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #483D8B;
}

/* Options Section */
.options {
    margin-top: 15px;
    text-align: center;
}

.create-account {
    color: #6A5ACD;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.create-account:hover {
    color: #483D8B;
}

/* Google-Themed Button */
.google-login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: white;
    color: #555;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s, box-shadow 0.2s;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.google-login-btn:hover {
    background-color: #f5f5f5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

/* Google Icon Styling */
.google-icon {
    color: #4285f4;
    font-size: 1.2rem;
    margin-right: 12px;
}

#google-signin-button {
    display: flex;
    justify-content: center;
}
